In [16]:
import pandas as pd

# Ù…Ø±Ø­Ù„Ù‡ 1: Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ùˆ Ø¨Ø±Ø±Ø³ÛŒ Ø§ÙˆÙ„ÛŒÙ‡â€ŒÛŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§
# - Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² pandas
# - Ù†Ù…Ø§ÛŒØ´ ØªØ¹Ø¯Ø§Ø¯ Ø³Ø·Ø±Ù‡Ø§ (rows) Ùˆ Ø³ØªÙˆÙ†â€ŒÙ‡Ø§ (columns)
# - Ù†Ù…Ø§ÛŒØ´ 5 Ø³Ø·Ø± Ø§ÙˆÙ„ Ø¨Ø±Ø§ÛŒ Ø¢Ø´Ù†Ø§ÛŒÛŒ Ø§ÙˆÙ„ÛŒÙ‡ Ø¨Ø§ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§
# - Ú†Ø§Ù¾ ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ÛŒÚ©ØªØ§ÛŒ Ù‡Ø± Ø³ØªÙˆÙ† Ø¨Ø±Ø§ÛŒ ØªØ´Ø®ÛŒØµ Ù†ÙˆØ¹ Ø¯Ø§Ø¯Ù‡ (Nominal, Binary, Numeric, Ordinal)

# Ø¨Ø§Ø±Ú¯Ø°Ø§Ø±ÛŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø§Ø² ÙØ§ÛŒÙ„ CSV
df = pd.read_csv("student_depression_dataset.csv")

# Ù†Ù…Ø§ÛŒØ´ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ú©Ù„ÛŒ Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… Ø´Ø§Ù…Ù„ Ù†ÙˆØ¹ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ØŒ ØªØ¹Ø¯Ø§Ø¯ Ù†Ø§ØªÙ…Ø§Ù…â€ŒÙ‡Ø§ Ùˆ Ø­Ø§ÙØ¸Ù‡ Ù…ØµØ±ÙÛŒ
total_rows = len(df)

# Ù„ÛŒØ³ØªÛŒ Ø¨Ø±Ø§ÛŒ Ø°Ø®ÛŒØ±Ù‡ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ù‡Ø± Ø³ØªÙˆÙ†
info_list = []

for col in df.columns:
    non_null_count = df[col].count()
    null_percent = (non_null_count / total_rows) * 100
    dtype = df[col].dtype

    info_list.append({
        "ğŸ§© Ù†Ø§Ù… Ø³ØªÙˆÙ†": col,
        "ğŸ“Š Ù†ÙˆØ¹ Ø¯Ø§Ø¯Ù‡": str(dtype),
        "âœ… ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ØºÛŒØ±Ø®Ø§Ù„ÛŒ": non_null_count,
        "ğŸ“ˆ Ø¯Ø±ØµØ¯ Ù¾Ø± Ø¨ÙˆØ¯Ù†": f"{null_percent:.1f}%"
    })

# ØªØ¨Ø¯ÛŒÙ„ Ø¨Ù‡ DataFrame Ø¬Ø¯ÙˆÙ„ÛŒ
info_df = pd.DataFrame(info_list)

# Ù†Ù…Ø§ÛŒØ´ Ø¬Ø¯ÙˆÙ„
display(info_df)  # Ø§Ú¯Ø± Ø¯Ø± Jupyter Ù‡Ø³ØªÛŒ

# Ù†Ù…Ø§ÛŒØ´ 5 Ø±Ø¯ÛŒÙ Ø§ÙˆÙ„ Ø§Ø² Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… Ø¨Ø±Ø§ÛŒ Ø¢Ø´Ù†Ø§ÛŒÛŒ Ø§ÙˆÙ„ÛŒÙ‡ Ø¨Ø§ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§
display(df.head())

# Ù†Ù…Ø§ÛŒØ´ ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ÛŒÚ©ØªØ§ Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø³ØªÙˆÙ† Ø¯Ø± Ø¯ÛŒØªØ§ÙØ±ÛŒÙ…
# Ø§ÛŒÙ† Ú©Ø§Ø± Ø¨Ù‡ Ù…Ø§ Ú©Ù…Ú© Ù…ÛŒâ€ŒÚ©Ù†Ø¯ ØªØ§ Ø§Ù†ÙˆØ§Ø¹ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø±Ø§ Ø´Ù†Ø§Ø³Ø§ÛŒÛŒ Ú©Ù†ÛŒÙ… (Ù…Ø«Ù„Ø§Ù‹ Nominal, Binary, Numeric, Ordinal)
unique_info = []

for column in df.columns:
    unique_count = df[column].nunique()
    unique_info.append({
        "ğŸ§© Ù†Ø§Ù… Ø³ØªÙˆÙ†": column,
        "ğŸ”¢ ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ÛŒÚ©ØªØ§": unique_count
    })

# ØªØ¨Ø¯ÛŒÙ„ Ø¨Ù‡ Ø¬Ø¯ÙˆÙ„ (DataFrame)
unique_df = pd.DataFrame(unique_info)

# Ù…Ø±ØªØ¨â€ŒØ³Ø§Ø²ÛŒ Ø§Ø®ØªÛŒØ§Ø±ÛŒ (Ù…Ø«Ù„Ø§Ù‹ Ø§Ø² Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ø¨Ù‡ Ú©Ù…ØªØ±ÛŒÙ†)
unique_df = unique_df.sort_values(by="ğŸ”¢ ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ÛŒÚ©ØªØ§", ascending=False).reset_index(drop=True)

# Ù†Ù…Ø§ÛŒØ´ Ø¬Ø¯ÙˆÙ„
display(unique_df) 

def detect_feature_type(series):
    unique_vals = series.dropna().unique()
    num_unique = len(unique_vals)
    
    if pd.api.types.is_numeric_dtype(series):
        if num_unique == 2:
            return "Binary (Numeric)"
        else:
            return "Numeric"
    elif pd.api.types.is_string_dtype(series) or pd.api.types.is_categorical_dtype(series):
        if num_unique == 2:
            return "Binary (Categorical)"
        elif num_unique < 10:
            return "Nominal"
        else:
            return "High-cardinality Nominal"
    else:
        return "Unknown"
        
feature_info = []

for column in df.columns:
    data_type = df[column].dtype
    unique_count = df[column].nunique()
    feature_type = detect_feature_type(df[column])
    
    feature_info.append({
        "Ù†Ø§Ù… Ø³ØªÙˆÙ†": column,
        "ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ÛŒÚ©ØªØ§": unique_count,
        "Ù†ÙˆØ¹ Ø¯Ø§Ø¯Ù‡ (dtype)": str(data_type),
        "Ù†ÙˆØ¹ ÙˆÛŒÚ˜Ú¯ÛŒ (Feature Type)": feature_type
    })

# ØªØ¨Ø¯ÛŒÙ„ Ù„ÛŒØ³Øª Ø¨Ù‡ DataFrame
feature_df = pd.DataFrame(feature_info)

# Ù†Ù…Ø§ÛŒØ´ Ø¬Ø¯ÙˆÙ„
print("\nğŸ“‹ Ø¬Ø¯ÙˆÙ„ ÙˆÛŒÚ˜Ú¯ÛŒâ€ŒÙ‡Ø§:")
display(feature_df) 
# ØªÙˆØ¶ÛŒØ­: Ù…Ù†Ø¸ÙˆØ± Ø§Ø² "Ù…Ù‚Ø¯Ø§Ø± ÛŒÚ©ØªØ§" ØªØ¹Ø¯Ø§Ø¯ Ø§Ù†ÙˆØ§Ø¹ Ù…Ø®ØªÙ„Ù Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø¯Ø± Ù‡Ø± Ø³ØªÙˆÙ† Ø§Ø³Øª. 
# Ø¨Ù‡ Ø·ÙˆØ± Ù…Ø«Ø§Ù„ØŒ Ø¯Ø± Ø³ØªÙˆÙ† 'Gender' Ø¯Ùˆ Ù…Ù‚Ø¯Ø§Ø± ÛŒÚ©ØªØ§ Ø¯Ø§Ø±ÛŒÙ…: "Male" Ùˆ "Female" Ú©Ù‡ Ù†Ø´Ø§Ù†â€ŒØ¯Ù‡Ù†Ø¯Ù‡ Ø¬Ù†Ø³ÛŒØª Ø§Ø³Øª. 
# Ø§ÛŒÙ† Ù…Ù‚Ø¯Ø§Ø± Ø¨Ø±Ø§ÛŒ Ø³ØªÙˆÙ† 'Gender' Ø¨Ø±Ø§Ø¨Ø± Û² Ø§Ø³Øª.

,ğŸ§© Ù†Ø§Ù… Ø³ØªÙˆÙ†,ğŸ“Š Ù†ÙˆØ¹ Ø¯Ø§Ø¯Ù‡,âœ… ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ØºÛŒØ±Ø®Ø§Ù„ÛŒ,ğŸ“ˆ Ø¯Ø±ØµØ¯ Ù¾Ø± Ø¨ÙˆØ¯Ù†
0,id,int64,27901,100.0%
1,Gender,object,27901,100.0%
2,Age,float64,27901,100.0%
3,City,object,27901,100.0%
4,Profession,object,27901,100.0%
5,Academic Pressure,float64,27901,100.0%
6,Work Pressure,float64,27901,100.0%
7,CGPA,float64,27901,100.0%
8,Study Satisfaction,float64,27901,100.0%
9,Job Satisfaction,float64,27901,100.0%
10,Sleep Duration,object,27901,100.0%
11,Dietary Habits,object,27901,100.0%
12,Degree,object,27901,100.0%
13,Have you ever had suicidal thoughts ?,object,27901,100.0%
14,Work/Study Hours,float64,27901,100.0%
15,Financial Stress,object,27901,100.0%
16,Family History of Mental Illness,object,27901,100.0%
17,Depression,int64,27901,100.0%

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

                               ğŸ§© Ù†Ø§Ù… Ø³ØªÙˆÙ†  ğŸ”¢ ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ÛŒÚ©ØªØ§
0                                      id                27901
1                                    CGPA                  332
2                                    City                   52
3                                     Age                   34
4                                  Degree                   28
5                              Profession                   14
6                        Work/Study Hours                   13
7                       Academic Pressure                    6
8                        Financial Stress                    6
9                      Study Satisfaction                    6
10                       Job Satisfaction                    5
11                         Sleep Duration                    5
12                         Dietary Habits                    4
13                          Work Pressure                    3
14  Have you ever had suicidal thoughts ?                    2
15                                 Gender                    2
16       Family History of Mental Illness                    2
17                             Depression                    2

ğŸ“‹ Ø¬Ø¯ÙˆÙ„ ÙˆÛŒÚ˜Ú¯ÛŒâ€ŒÙ‡Ø§:

,Ù†Ø§Ù… Ø³ØªÙˆÙ†,ØªØ¹Ø¯Ø§Ø¯ Ù…Ù‚Ø§Ø¯ÛŒØ± ÛŒÚ©ØªØ§,Ù†ÙˆØ¹ Ø¯Ø§Ø¯Ù‡ (dtype),Ù†ÙˆØ¹ ÙˆÛŒÚ˜Ú¯ÛŒ (Feature Type)
0,id,27901,int64,Numeric
1,Gender,2,object,Binary (Categorical)
2,Age,34,float64,Numeric
3,City,52,object,High-cardinality Nominal
4,Profession,14,object,High-cardinality Nominal
5,Academic Pressure,6,float64,Numeric
6,Work Pressure,3,float64,Numeric
7,CGPA,332,float64,Numeric
8,Study Satisfaction,6,float64,Numeric
9,Job Satisfaction,5,float64,Numeric
10,Sleep Duration,5,object,Nominal
11,Dietary Habits,4,object,Nominal
12,Degree,28,object,High-cardinality Nominal
13,Have you ever had suicidal thoughts ?,2,object,Binary (Categorical)
14,Work/Study Hours,13,float64,Numeric
15,Financial Stress,6,object,Nominal
16,Family History of Mental Illness,2,object,Binary (Categorical)
17,Depression,2,int64,Binary (Numeric)